<div
  class="container"
  style="
    background-color: rgb(52, 58, 64);
    width: 450px;
    height: 450px;
    padding: 10px;
    margin-top: 35px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkgrey;
  "
>
  <h2 style="text-align: center; margin-top: 20px; color: white">
    {{ titulo }}
  </h2>
  <form #receitaForm="ngForm" (ngSubmit)="lancarReceita()">
    <div
      class="form-group"
      style="text-align: center; margin-top: 20px; color: white"
    >
      <label>Nome: </label><br />
      <input type="text" name="nm_receita" [(ngModel)]="receita.nm_receita" />
    </div>

    <div class="form-group" style="text-align: center; color: white">
      <label>Data do recebimento: </label><br />
      <input type="text" name="dt_receita" [(ngModel)]="receita.dt_receita" />
    </div>

    <div class="form-group" style="text-align: center; color: white">
      <label>Valor: </label><br />
      <input type="number" name="vl_receita" [(ngModel)]="receita.vl_receita" />
    </div>

    <div class="form-group" style="text-align: center">
      <button type="submit" class="btn btn-outline-success">Salvar</button>
    </div>
  </form>
</div>
