<h2>{{titulo}}</h2>


<div class="container">

    <ul>
        <li>Cadastro</li>
    </ul>

    <form #receitaForm="ngForm" (ngSubmit)="lancarReceita()">
        
        <div class="row">
            <label>Nome: </label>
            <input type="text" name="nm_receita" [(ngModel)]="receita.nm_receita"/>
        </div>
        
        <div class="row">
            <label>Data: </label>
            <input type="text" name="dt_receita" [(ngModel)]="receita.dt_receita" />
        </div>

        <div class="row">
            <label>Valor: </label>
            <input type="text"name="vl_receita" [(ngModel)]="receita.vl_receita"/>
        </div>

        <div class="row">
            <label>Registro: </label>
            <input type="text" name="dt_registro" [(ngModel)]="receita.dt_registro"/>
        </div>

        <div class="row">
            <button type="submit">Salvar</button>
        </div>
    </form>

</div>