<ul>
    <li>Lista de despesas</li>
</ul>


<table class="table">
    <thead>
        <tr>
            <th>NOME</th>
            <th>DATA DA DESPESA</th>
           
            <th>REGISTRO</th>
            <th>VALOR</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lista of despesa">
            <td>{{lista.nm_despesa}}</td>
            <td>{{lista.dt_despesa}}</td>
            <td>{{lista.dt_registro}}</td>
            <td>{{lista.vl_despesa}}</td>
            
            <td>
                <button class="btn btn-primary" routerLink="/despesasForm/{{ lista.id }}">
                    <i class="fa fa-pen-square">editar</i>
                </button>
            
                <button class="btn btn-danger ml-1" (click)="preparaDelecao(lista)" data-toggle="modal" data-target="#modalSelecao">
                    <i class="fa fa-trash">excluir</i>
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="3">TOTAL</td>
            <td>{{soma()}}</td>
        </tr>
    </tbody>
</table>


<div id="modalSelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        <div class="modal-header">
            <h4>Confirmação</h4>
        </div>

        <div class="modal-body" *ngIf="despesaSelecionada">
            Confirma a exclusão da despesa: {{ despesaSelecionada.nm_despesa }}?
        </div>

        <div class="modal-footer">
            <button class="btn btn-success" (click)="deletarDespesa()" data-dismiss="modal">Confirmar</button>
            <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>

        </div>
    </div>
</div>