<style>.modal.fade.show { display: block; background: #99999977;  }</style>
    <div style="text-align: center; margin: 25px">
      <h3>Despesa Total</h3>
      <span>{{ soma() }}</span>

      <h2 style="text-align: center">Lançamentos de Despesas</h2>

      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
            {{ mensagemSucesso }}
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
            {{ mensagemErro }}
          </div>
        </div>
      </div>
    </div>

    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>NOME</th>
          <th>DATA DA DESPESA</th>
          <th>REGISTRO</th>
          <th>VALOR</th>
          <th>OPÇÕES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lista of despesa">
          <td>{{ lista.nm_despesa }}</td>
          <td>{{ lista.dt_despesa }}</td>
          <td>{{ lista.dt_registro }}</td>
          <td>{{ lista.vl_despesa }}</td>

          <td>
            <button
              class="btn btn-primary"
              routerLink="/despesasForm/{{ lista.id }}"
            >
              <i class="fa fa-pen-square">editar</i>
            </button>

            <button type="button" class="btn btn-danger ml-1" data-toggle="modal" data-target="#modalSelecao" (click)="preparaDelecao(lista)">
              excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div id="modalSelecao" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Confirmação</h4>
          </div>

          <div class="modal-body" *ngIf="despesaSelecionada">
            Confirma a exclusão da despesa: {{ despesaSelecionada.nm_despesa }}?
          </div>

          <div class="modal-footer">
            <button
              class="btn btn-success"
              (click)="deletarDespesas()"
              
            >
              Confirmar
            </button>
            <button class="btn btn-danger" (click)="esconderModal()">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

