<ul>
    <li>Lista de receitas</li>
</ul>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
            {{ mensagemSucesso }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
            {{ mensagemErro }}
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>NOME</th>
            <th>DATA DA DESPESA</th>
            <th>VALOR</th>
            <th>REGISTRO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lista of receita">
            <td>{{lista.nm_receita}}</td>
            <td>{{lista.dt_receita}}</td>
            <td>{{lista.vl_receita}}</td>
            <td>{{lista.dt_registro}}</td>
            <td>
                <button class="btn btn-primary" routerLink="/receitasForm/{{ lista.id }}">
                    <i class="fa fa-pen-square">editar</i>
                </button>

                <button class="btn btn-danger ml-1" (click)="preparaDelecao(lista)" data-toggle="modal" data-target="#modalSelecao">
                    <i class="fa fa-trash">excluir</i>
                </button>
            </td>
        </tr>
    </tbody>

</table>

<div id="modalSelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h4>Confirmação</h4>
            </div>
            
            <div class="modal-body" *ngIf="receitaSelecionada">
                Confirma a exclusão da receita: {{ receitaSelecionada.nm_receita  }}?
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" (click)="deletarReceita()" data-dismiss="modal">Confirmar</button>
                <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>