<style>.modal.fade.show { display: block; background: #99999977;  }</style>
<div style="text-align: center; margin: 25px">
      <h3>Receita Total</h3>
      <span>{{ soma() }}</span>
    </div>

    <h2 style="text-align: center">Lançamentos de Receitas</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
          {{ mensagemSucesso }}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
          {{ mensagemErro }}
        </div>
      </div>
    </div>

    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>NOME</th>
          <th>DATA DO RECEBIMENTO</th>
          <th>REGISTRO</th>
          <th>VALOR</th>
          <th>OPÇÕES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lista of receita">
          <td>{{ lista.nm_receita }}</td>
          <td>{{ lista.dt_receita }}</td>
          <td>{{ lista.dt_registro }}</td>
          <td>{{ lista.vl_receita }}</td>

          <td>
            <button
              class="btn btn-primary"
              routerLink="/receitasForm/{{ lista.id }}"
            >
              <i class="fa fa-pen-square">Editar</i>
            </button>

            <button
              class="btn btn-danger ml-1"
              (click)="preparaDelecao(lista)"
              data-toggle="modal"
              data-target="#modalSelecao"
            >
              <i class="fa fa-trash">Excluir</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div id="modalSelecao" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Confirmação</h4>
          </div>

          <div class="modal-body" *ngIf="receitaSelecionada">
            Confirma a exclusão da receita: {{ receitaSelecionada.nm_receita }}?
          </div>

          <div class="modal-footer">
            <button
              class="btn btn-success"
              (click)="deletarReceita()"
            >
              Confirmar
            </button>
            <button class="btn btn-danger" (click)="esconderModal()">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

